<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <style>
        body{
            background-image:url('sofa.jpg');
            background-size: cover;
            background-position: center;
        }
        a{
            color:blue;
        }
        p{
            color:rgb(11, 11, 85);
        }
        h1,h2{
            color:rgb(202, 42, 69);
        }
        ul{
            color:blue
        }
    </style>
</head>
<body>
    <%-include('partial/header')-%>
        <a href="/">Home</a>
        <a href="/about">About Us</a>
        <a href="/contact">Contact Us</a>
    
    <h1>Welcome to About Page!</h1>
 

    <h2>About: Best CBSE School in Coimbatore</h2>
     <h2>Vision</h2>
<p>To be at the leading edge in school education by developing individuals 
    who will lead the future.</p>

<h5>Mission</h5>
<p>To delve into, design and deliver the best school education programme that:
<ul>
<li>provides cutting-edge facilities for the students to be creative, skilled,
    flexible, tech-enabled and adaptable life-long learners to find their place 
    in the complex and dynamic world;</li>

<li>facilitates the best learner-centred pedagogy with intellectually challenging
     academic practices in a conducive learning environment with close monitoring
      of the progress of each student;</li>

<li>helps flourish physical, social and emotional wellbeing and live a balanced, 
    ethical and resilient life of servant leadership with finesse, 
    passion and compassion;</li>

<li>develops culturally-rooted internationally-minded citizens with intercultural understanding and empathy;
affords global collaboration, exploration and innovation opportunities;</li>

<li>protects and safeguards the wellbeing, safety and security of all students, 
    staff and the school community proactively.</li>
</ul></p>
<%-include('partial/footer')-%>
    
</body>
</html>