<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <style>
        body{
            background-image:url('sofa.jpg');
            background-size: cover;
            background-position: center;
        }

        a,h6{
            color:rgb(13, 13, 177);
        }
        h5{
            color:rgb(249, 5, 5);
        }
        .add{
            float:right;
            color:rgb(249, 5, 5);
        }
    </style>
</head>
<body>
    <%-include('partial/header')-%>
        <a href="/">Home</a>
        <a href="/about">About Us</a>
        <a href="/contact">Contact Us</a>
    
    <h5>ADCD Institutions <br>
        Sf No 72/2 Vaigai Nagar,<br>
        Singanallur to Vellalore Road,<br>
        Coimbatore - 641 016.<br>
        Tamil Nadu, India.</h5>

        <div class="add">
        <h4>Download brochure <br>
            M :  +91 9344451888 <br>
            Landline:0422-2226999 <br>
            Email : Info@abcds.</h4>
        </div>
            <h6>Copyright ABCD Institutions. All Rights Reserved.</h6>
            <%-include('partial/footer')-%>
</body>
</html>