<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body{
            background-image:url('sofa.jpg');
            background-size: cover;
            background-position: center;
        }
        a{
            color:blue;
        }
        p{
            color:rgb(11, 11, 85);
        }
        h1{
            color:rgb(23, 88, 19);
        }
    </style>
</head>
<body>
    <div class="anchor">
        <div class="one">
        <a href="Home" style="margin-right:8px; text-decoration: none;"> &#127968;Home</a>
        <a href="MyStore" style="margin-right:8px; text-decoration: none;">MyStore</a>
        <a href="AddProduct" style="margin-right:8px; text-decoration: none;">Add Product</a>
        </div>
        <div class="two">
        <a href="Welcome Admin" style="margin-right:8px; text-decoration: none;">Welcome Admin</a>
        <a href="Cart" style="margin-right:8px; text-decoration: none;">&#128722;cart</a>
        </div> 
        </div> <br> <br>
        <a href="/">Home</a>
        <a href="/about">About Us</a>
        <a href="/contact">Contact Us</a>
     
       
    <h1>Hello World!</h1>
    <p>Welcome to ABCD® World School – One of the best CBSE Schools in Coimbatore</p>
    <p>The school provides ample opportunities to sharpen the child’s intellectual skills and develop physically too, having the way for a holistic development as per the CBSE curriculum.</p>

    <%-include('partial/footer')%>
</body>
</html>