<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyStore</title>
<style>
    .container{
        border: 1px solid black;
        padding: 4px;
        text-align: center;
        
        
        
    }
    .row{
        border: 2px solid black;
        margin-left: 8px;
        padding: 20px;
        text-align: center;
    }
    
    .anchor{
        background-color:rgb(220, 248, 7);
        color: white;
        padding: 15px;
        width: 100%;
    }
    .two{
        float:right;
        padding-top: 0%;
     
    }
    h6{
        background-color: rgb(8, 210, 8);
        padding: 15px;
        margin-top: 25px;
    }
    .top{
        background-color: rgb(248, 249, 246);
        padding: 15px;
    }
    div{
        float: left;
        padding-right: 50px;
       }
       button{
        background-color:yellow;
        padding: 5px;
        color: white;
       }
</style>
</head>
<body>
    <div class="anchor">
        <div class="one">
        <a href="Home" style="margin-right:8px; text-decoration: none;"> &#127968;Home</a>
        <a href="MyStore" style="margin-right:8px; text-decoration: none;">MyStore</a>
        <a href="AddProduct" style="margin-right:8px; text-decoration: none;">Add Product</a>
        </div>
        <div class="two">
        <a href="Welcome Admin" style="margin-right:8px; text-decoration: none;">Welcome Admin</a>
        <a href="Cart" style="margin-right:8px; text-decoration: none;">&#128722;cart</a>
        </div> 
        </div> <br> <br>
   
<h6>Product added!!</h6>
<h2 class="top">Welcome to MyStore</h2>

<div class="container">
    
<div class="row">
    <div class="col-12 col-sm-4 col-md-4 mt-2">
        <div class="card" style="width:160px;">
            <div class="card-body">
                <img class="img-fluid" src="iphone1.jpeg" alt="">
                <h2>iPhone 13 mini</h2>
                <p>$700 <s>$900</s> <span style="color:green">0% off</span></p>
                <button type="btn"><a href="addtocart.html" style="text-decoration: none;">Addtocart</a></button>
            </div>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-12 col-sm-4 col-md-4 mt-2">
            <div class="card" style="width:160px;">
                <div class="card-body">
                    <img class="img-fluid" src="iphone2.jpeg" alt="">
                    <h2>iPhone 13 mini</h2>
                    <p>$800 <s>$900</s> <span style="color:green">0% off</span></p>
                    <button type="btn"><a href="addtocart.html" style="text-decoration: none;">Addtocart</a></button>
                </div>
            </div>
        </div>

</div>

      <div class="box">
        <div class="row">
            <div class="col-12 col-sm-4 col-md-4 mt-2">
                <div class="card" style="width:160px;">
                    <div class="card-body">
                        <img class="img-fluid" src="iphone3.jpeg" alt="">
                        <h2>iPhone 13 mini</h2>
                        <p>$1050 <s>$1650</s> <span style="color:green">0% off</span></p>
                        <button type="btn"><a href="addtocart.html" style="text-decoration: none;">Addtocart</a></button>
                    </div>
                </div>
            </div>
</div>
            <div class="row">
                <div class="col-12 col-sm-4 col-md-4 mt-2">
                    <div class="card" style="width:160px;">
                        <div class="card-body">
                            <img class="img-fluid" src="iphone4.jpeg" alt="">
                            <h2>iPhone 13 mini</h2>
                            <p>$1150 <s>$1250</s> 
                             <span style="color:green">0% off</span></p>
                            <button type="btn"><a href="addtocart.html" style="text-decoration: none;">Addtocart</a></button>
                        </div>
                    </div>
                </div>
                </div>
</div>
</div>
    


</body>
</html>